<!-- Navbar -->
<nav class="navbar navbar-expand-lg px-3 px-lg-5 custom-nav w-100">
  <div class="container-fluid">
    <div class="logo">
      <a class="navbar-brand" href="https://hacktoberfest.digitalocean.com">
        <div class="d mainLogo" data-theme="light">
          <img src="/svg/vertical_dark_green.svg" alt="Green Hacktoberfest Logo" class="nav-logo">
        </div>
      </a>
    </div>
    <button
      class="navbar-toggler nav-dark"
      type="button"
      data-theme="light"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <!-- <span class="navbar-toggler-icon"></span> -->
      <i class="bi bi-list fs-1"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            class="nav-link custom-link text-capitalize theme-primary-text-link mx-3 fs-5"
            href="/"
            >home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link custom-link text-capitalize theme-primary-text-link mx-3 fs-5"
            href="https://hacktoberfest.digitalocean.com/profile"
            >start Hacking</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link custom-link text-capitalize theme-primary-text-link mx-3 fs-5"
            href="https://www.firsttimersonly.com/"
            >first timers</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link custom-link text-capitalize theme-primary-text-link mx-3 fs-5"
            href="https://hacktoberfest.digitalocean.com"
            >about</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link custom-link text-capitalize theme-primary-text-link mx-3 fs-5"
            href="/repos"
            >repos</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
