@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

:root {
  --theme-primary-bg-light: #50da4c;
  --theme-primary-bg-dark: #183717;
  --theme-primary-black: #1c1c1c;

  --theme-secondary-light: #fefdf8;
  --theme-secondary-beige: #f3f0e0;

  /* --theme-primary-bg-light: #677662;
  --theme-primary-bg-dark: #183717;
  --theme-primary-black: #212529;
  --theme-copyright: #d2d1c4; */

  /* --theme-dark-orange: #b53a26;
  --theme-primary-bg-dark: #505c4c; */
}

* {
  font-family: "Space Grotesk", sans-serif;
}

html, body {
  overflow: hidden;
  height: 100%;
  max-height: 100vh;
  background-repeat: repeat-x;
  box-sizing: border-box;
}

#banner {
  height: 80vh !important;
}

.custom-modal {
  background-color: rgba(0, 0, 0, 0.3);
}

.hacktoberfest-logo {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.repo-input {
  width: 90%;
  margin: auto;
}

.custom-search-input {
  border: none;
  height: 69px;
  outline: none !important;
}

.last-searched {
  display: none;
}

.custom-search-button {
  width: 100px;
  height: 42px;
  border: none;
  outline: none;
  color: white;
  background-color: rgb(20, 18, 18);
}

.custom-search-button:hover {
  background-color: #4f4646;
}

.custom-link {
  -webkit-transition: 0.1s ease-out;
  -o-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
  position: relative;
  color: rgb(229, 225, 230);
}

.list-group-item > p {
  overflow: auto;
  white-space: nowrap;
}

.remove-button {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}

.list-group-item > p::-webkit-scrollbar {
  display: none;
}

.theme-primary-bg-dark-link.custom-link:hover {
  opacity: 1;
  text-shadow: rgb(255 215 77 / 60%) -1px -1px 6px,
    rgb(124 127 255 / 60%) 1px 1px 6px;
}

.copyright {
  font-size: 0.7rem;
  z-index: 0;
}

@media screen and (max-width: 400px) {
  .custom-search-button {
    width: 30%;
  }
}

@media screen and (max-width: 767px) {
  .repo-cards {
    flex-direction: column;
  }
}

@media screen and (min-width: 980px) {
  .hacktoberfest-logo {
    width: 50% !important;
  }
  .repo-input {
    width: 70% !important;
  }
}

.container-fluid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo .navbar-brand .d {
  height: 60px;
  width: 60px;
  position: relative;
}

.navbar-brand .d svg {
  position: absolute;
  height: 100%;
  width: 100%;
  filter: drop-shadow(rgba(255, 215, 77, 0.6) -1px -1px 2px)
    drop-shadow(rgba(124, 127, 255, 0.6) 1px 1px 2px);
}

.navbar-brand .d .h {
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(rgba(226, 192, 66, 0.6) -1px -1px 2px)
    drop-shadow(rgba(107, 109, 221, 0.664) 1px 1px 2px);
}

.text-hactober {
  height: 230px;
}

.text-hactober img {
  height: 100%;
  /* filter: drop-shadow(rgba(255, 215, 77, 0.6) -1px -1px 2px)
    drop-shadow(rgba(124, 127, 255, 0.6) 1px 1px 2px); */
}

/* Card Styles */

.repo-cards .card {
  background-color: var(--theme-secondary-light);
}

.repo-cards .card-body {
  padding: 2.5rem 0 !important;
}

.repo-cards .btn-view {
  background-color: var(--theme-primary-black) !important;
  border-color: var(--theme-secondary-light);
  color: var(--theme-secondary-light);
}

.repo-cards .btn-view:hover {
  color: var(--theme-primary-bg-light);
}

/* Modal Styles */
.modal-content {
  height: 90vh;
  background: var(--theme-primary-bg-dark);
}

.modal-header {
  color: var(--theme-secondary-light) !important;
  border-bottom: var(--bs-modal-header-border-width) solid var(--theme-primary-black);
}

.modal-header > .btn-close:hover {
  background-color: var(--theme-secondary-light) !important;
}

.modal-body {
  height: 230px;
}

.modal-body .card {
  background-color: var(--theme-primary-bg-light);
}

.modal-body img {
  height: 100%;
  /* filter: drop-shadow(rgba(255, 215, 77, 0.6) -1px -1px 2px)
    drop-shadow(rgba(124, 127, 255, 0.6) 1px 1px 2px); */
}

#modal-result {
  color: var(--theme-secondary-light);
}

.modal-footer {
  border-top: var(--bs-modal-header-border-width) solid var(--theme-primary-black);
}

.modal-footer .btn {
  background-color: var(--theme-primary-black);
}

.modal-footer .btn:hover {
  background-color: var(--theme-secondary-light);
  color: var(--theme-primary-black);
}

/* Modal Scrollbar */
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #1c1c1c #50da4c;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #50da4c;
}

*::-webkit-scrollbar-thumb {
  background-color: #1c1c1c;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

.remove-button {
  cursor: pointer;
}

.nav-light {
  color: #fff;
}

.nav-dark {
  color: #1f1c1c;
}

footer {
  max-height: 20vh;
}

/* Dark Mode Styles */
.theme-toggler-container {
  position: fixed;
  bottom: 8vh;
  right: 3vw;
  z-index: 10 !important;
}

.theme-toggler-button {
  border-radius: 50%;
  min-width: 60px;
  min-height: 60px;
  border: none;
  outline: none !important;
  font-size: 1.5rem !important;
  background-color: rgb(20, 18, 18);
  color: white;
}

.theme-toggler-button:hover {
  background-color: #4f4646;
}

.bg-light {
  background-color: var(--theme-primary-bg-light) !important;
}

.bg-dark {
  background-color: var(--theme-primary-bg-dark) !important;
  /* background-image: url("../grain-dark.png"); */
  color: var(--theme-secondary-beige);
  /* background-size: auto;
  background-repeat: repeat; */
}

.theme-primary-black {
  background-color: var(--theme-primary-black) !important;
}

.theme-primary-black-link {
  color: var(--theme-primary-black) !important;
}

.theme-primary-bg-dark-link {
  color: var(--theme-dark-beige) !important;
}

.theme-dark-orange {
  background-color: var(--theme-dark-orange) !important;
}

.theme-primary-bg-light {
  background-color: #4f4646 !important;
}

.theme-primary-bg-light:hover {
  background-color: #7a6f6f !important;
}

.theme-primary-bg-dark {
  background-color: var(--theme-primary-bg-dark) !important;
}

.copyright-dark {
  color: var(--theme-copyright) !important;
}

.copyright-light {
  color: var(--theme-primary-black) !important;
}

@media screen and (max-height: 500px) {
  .theme-toggler-container {
    bottom: 0vh;
  }
}

